.image-cap {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.grizelle {
  background-image: url("grizelle.jpg");
}

.sombra {
  background-image: url("sombra.jpg");
}
