:root {
  /* Variables are declared as --variable-name: value; */
  --bg-color: rgb(28, 59, 79);
  --text-color: rgb(221, 233, 243);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* Variables are read using var(--variable-name)*/
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  width: 75%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article {
  width: 100%;
  padding: 0.5rem 2rem 2rem;
  border: rgb(81, 127, 157) solid 0.25rem;
  border-radius: 2rem;
}

.clickbait.article {
  background-color: fuchsia;
  color: limegreen;
  border-color: orange;
}
